.tea-card {
  max-width: 416px;
}

.tea-card-image {
  max-width: 416px;
}

.tea-card-image img {
  width: 100%;
}

.tea-card-body {
  padding: 20px 24px;
}

.tea-card-title {
  font-size: 20px;
  margin-bottom: 12px;
  text-align: left;
}

.tea-card-description {
  margin-bottom: 26px;
  height: 200px;
  overflow-y: auto;
}






//.tea-card {
//  max-width: 416px;
//  border: 1px solid #E3E3E3;
//  flex-shrink: 1;
//}
//.tea-card-image {
//  max-width: 416px;
//}
//
//.tea-card-image img {
//  width: 100%;
//}
//
//.tea-card-body {
//  padding: 20px 24px;
//}
//
//.tea-card-title {
//  font-size: 20px;
//  margin-bottom: 12px;
//  text-align: left;
//}
//
//.tea-card-description {
//  margin-bottom: 26px;
//}
