.tea-collections {
  margin: 0 auto;
  padding-bottom: 72px;
  padding-top: 50px;
}

.tea-cards {
  flex-wrap: wrap;
  justify-content: center;
}





//.tea-collections {
//  margin: 0 auto;
//  padding-bottom: 72px;
//  padding-top: 50px;
//}
//
//.tea-cards {
//  align-items: stretch;
//}
//
//
//
///* 899 - 1296 */
//@media screen and (max-width: 1296px) {
//  .tea-cards {
//    justify-content: center !important;
//  }
//}
